.container {
  width: 95%;
  height: 100%;
  margin: 12px;
  border: 1px solid #555;
  align-items: center;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spacer {
  flex: 1 1 auto;
}
